python-dotenv
pymongo
ipykernel
numpy
pandas
matplotlib
seaborn
bs4
flask
scikit-learn
memory_profiler
streamlit
xgboost
catboost
dill
certifi
pymongo[srv]
pyaml
tensorflow
tensorboard
tensorflow-datasets
keras
##-e .